[Unit]
Description=Bind-mount shared games subvol for %i
After=local-fs.target
RequiresMountsFor=/var/srv/games

[Service]
Type=forking
ExecStartPre=/bin/sh -c '[ -d "/var/home/%i/Games" ] || /bin/mkdir -vp /var/home/%i/Games'
ExecStart=/usr/bin/bindfs \
  --map=root/%i:@root/@%i \
  --create-for-user=root \
  --create-for-group=root \
  --perms=u=rwX:g=rwX:o= \
  /var/srv/games /var/home/%i/Games
Restart=on-failure

[Install]
WantedBy=multi-user.target
