[Unit]
Description=Bind-mount shared games subvol for %i
After=local-fs.target
RequiresMountsFor=/var/srv/games

[Service]
Type=forking
ExecStartPre=/bin/mkdir -p /var/home/%i/Games
ExecStart=/usr/bin/bindfs \
  --force-user=%i \
  --force-group=gamer \
  --create-for-group=gamer \
  --chown-ignore \
  --chgrp-ignore \
  --chmod-ignore \
  /var/srv/games /var/home/%i/Games
Restart=on-failure

[Install]
WantedBy=multi-user.target
