[Unit]
Description=Create /opt overlay
ConditionPathExists=/var/opt/.work

[Mount]
What=overlay
Where=/opt
Type=overlay
Options=defaults,lowerdir=/usr/lib/opt,upperdir=/var/opt,workdir=/var/opt/.work

[Install]
WantedBy=local-fs.target
