[Unit]
Description=Bind-mount for storing a limited amount of data temporarily for %i
After=systemd-tmpfiles-setup.service

[Service]
Type=forking
ExecCondition=/usr/bin/sh -c \
    'home="$(getent passwd %i | cut -d: -f6)"; \
        [ -n "$home" ] && [ -d "$home" ] || { \
        echo "Failed to bind temp due to user: %i doesn't exist" >&2; \
        exit 1; \
    }'
ExecStartPre=[ -d "/var/home/%i/Temp" ]||/bin/mkdir -p /var/home/%i/Temp
ExecStart=/usr/bin/bindfs \
  --map=root/%i:@root/@%i \
  --create-for-user=root \
  --create-for-group=root \
  --perms=u=rw:g=rw:o= \
  /tmp/shared_dir /var/home/%i/Temp
Restart=on-failure

[Install]
WantedBy=multi-user.target
